{% extends '../base.html' %}
{% load static %}
{% block title %}New Game{% endblock %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/game/homepage.css' %}">
{% endblock %}

{% block content %}

<div class="main-container">
    <div class="title-cotainer">
        <h1>Nuova Partita</h1>
    </div>
    
        <form action="#" method="post">
            <div class="input-form"> 
                {% csrf_token %}
                {{ form }}
            </div>
            <div class="button-container">
                <button id="send-form">Gioca</button>
            </div>
        </form>
            
</div>
<br>
<br>
<div class="main-container">
    <div class="title-cotainer">
        <h1>Regole del Gioco</h1>
    </div>
    <div class="custom-description">
        <p >Seleziona una mossa tra: <strong>Sasso, Carta o Forbici!</strong> Prova a vincere sul tuo avversario usando una delle seguenti combinazioni.</p>

    </div>
    <div class="custom-description">
        <ul class="description-list">
            <li>Carta vince su Sasso</li>
            <li>Sasso vince su Forbici</li>
            <li>Forbici vince su Carta</li>
        </ul>
    </div>
</div>

<script src="{% static 'js/homepage.js' %}"></script>


{% endblock %}