
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&display=swap');


body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background-color: #fffef7;
}

.main-container{
    background-color: #ffffff;
    position: relative;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    border: 2px solid rgb(68, 68, 68);
    box-shadow: 6px 4px 2px rgb(170, 170, 170);
}

.title-cotainer{
    display: flex;
    justify-content: center;
    color: rgb(26, 26, 26);
}

.input-form{
    position: relative;
    left: 25%;
    align-items: center;
    justify-content: center;
}

label {
    margin: 0.5rem;
}


.input-field{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #FBB95D !important;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    color: rgb(10, 10, 10);
    border: 2px solid rgb(68, 68, 68);
    box-shadow: 6px 4px 2px rgb(170, 170, 170);

}

button {
    width: 20%;
    height: 2.2rem;
    margin: 1rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    box-shadow: 6px 4px 2px rgb(170, 170, 170);
    border: 2px solid rgb(68, 68, 68);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #00af6c;
    color: white;
    user-select: none;
}

button:hover {
    background-color: #00925a;
    cursor: pointer;
}

button:focus {
    background-color: #00925a;
    box-shadow: 2px 2px 2px rgb(170, 170, 170);
}




.button-container{
    display: flex;
    justify-content: center;
}

.custom-description{
    position: relative;
    display: flex;
    width: 70%;
    left: 15%;
    justify-content: center;

}

.description-list{
    padding: 0rem;
    list-style-type: none;
}