::-webkit-scrollbar {
    width: 0px;
}

.background-container{
    position: absolute;
    object-fit: contain;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


.container{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;


    margin: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
}

.container > h1 {
    margin-top: 3rem;
}

.container > p {
    margin: 0rem;
}


.rules > h2 {
    margin:0rem;
    margin-top: 3rem;
}

.rules > p {
    margin: 0.5rem 0rem;
}


.container-btn{
    margin-top: 2rem;
}

.container-btn > button {
    font-size: 2rem;
    background: rgb(86,215,144);
    background: linear-gradient(87deg, rgba(86,215,144,1) 0%, rgba(11,207,0,1) 100%);
    padding: 0.5rem 4rem;
    color: white;
    border-radius: 2rem;
    border: 0px;
}

.container-btn > button:hover,
.container-btn > button:focus {
    font-size: 2rem;
    background: rgb(69,172,115);
    background: linear-gradient(87deg, rgba(69,172,115,1) 0%, rgba(9,161,0,1) 100%);
    padding: 0.5rem 4rem;
    color: white;
    border-radius: 2rem;
    border: 0px;
}

.container-match-tierlist > h1 {
    margin: 0rem;
    margin-top: 3rem;
}

.container-match-tierlist {
    position: relative;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 0rem 2rem;
    margin: 0rem;
}
.row > h4,
.row > h3{
    margin: 0.5rem 0rem;
}


.card-game{
    position: relative;
    transform: translate(50%, 0%);
    margin: 0.5rem 0rem;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    border-radius: 14px;
    border: 1px solid white;
    
}

.scroll-list{
    display: flex;
    flex-direction: column;
    max-height: 25rem;
    overflow-y: scroll;
}



  
